# python=3.10
numpy
pandas
langchain
openai
langchain-openai
textdiversity
lexical-diversity
websockets
agreement
crowd-kit
python-dotenv
torch 
transformers @ git+https://github.com/huggingface/transformers@995a7ce9a80b80062ccfe0b2d78857fb17351e27
accelerate
auto-gptq
optimum
scikit-learn
langchain_community
hydra-core
guidance
statsmodels
praw